
.sidebar-wrapper {
  width: 300px;
}
.main-content {
  width: calc(100% - 300px);
  display: grid;
  grid-template-rows: 1fr;
}

.db-header {
  border-bottom: 1px solid var(--brand-surface-4-stroke, #dce2ea);
  background: var(--brand-surface-2-text-on-dark, #fff);
  padding: 10px 30px;
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

.sidebar {
  border: 1px solid var(--brand-surface-4-stroke, #dce2ea);
  opacity: 0.93;
  background: #fff;
  display: flex;
  height: calc(100vh - 74px);
  padding: 20px 20px 0px 20px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-top: none;
}

.db-footer {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.db-footer p {
  font-size: 14px;
}

.sidebar-main{
  --sidebar-width: 24rem !important;
}

.bg-sidebar {
  background-color: #fff;
}

.sidebar-top{
  height: 190px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  /* background: lightgray 400.285px 233.221px / -128.734% -145.496% no-repeat, #0B1C2D; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidebar-top span {
  color: var(--brand-surface-2-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.sidebar-top h2{
  color: var(--brand-brand-primary-action, #00C3C0);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.sidebar-top a{
  color: var(--brand-surface-2-text-on-dark, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.nav-group ul li {
  border-radius: 5px;
}

.nav-group ul li a,
.nav-group ul li button{
  color: var(--brand-surface-1-text-on-light, #0B1C2D);
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 20px 10px !important;
}