@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --primary-color: #00c3c0;
  --secondary-color: #ff8602;
  --color-black: #0b1c2d;
  --color-text: #34495e;
  --color-white: #ffffff;
}

body {
  font-family: var(--font-inter), sans-serif;
}

/* Reset CSS */

input:focus {
  outline: none;
}

.inset-y-0 {
  top: 74px !important;
  bottom: 74px !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-lg {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Reuseable Grid */

.grid-row {
  display: grid;
}

.grid-col {
  grid-template-columns: 1fr;
}

.grid-col-1 {
  grid-template-columns: repeat(12, 1fr);
}

.grid-col-12 {
  grid-template-columns: 1fr;
}

/* Utility */

.section-heading {
  max-width: 885px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-heading h3 {
  border-radius: 82px;
  background: var(--secondary-color);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  text-align: center;
  font-size: clamp(13px, 0.9vw, 16px);
  font-weight: 500;
  line-height: 27px;
}

.section-heading h2 {
  color: var(--color-black);
  text-align: center;
  font-size: clamp(24px, 1.5vw, 36px);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.section-heading p {
  color: #34495e;
  text-align: center;
  font-size: clamp(13px, 0.9vw, 16px);
  font-weight: 400;
  line-height: 170%;
}

.btn-brand {
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--color-black);
  font-size: clamp(13px, 0.9vw, 16px);
  font-weight: 700;
  line-height: 12px; /* 75% */
}

.btn-outline-alt {
  border-radius: 8px;
  border: 1px solid var(--color-white);
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 600;
  line-height: 12px;
}

/* Reusable Form */

.tla-form-control {
  border-radius: 8px;
  border: 1px solid #dce2ea;
  background: #edf0f4;
  width: 100%;
  height: 52px;
  padding: 0 16px;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.tla-form-control::placeholder {
  font-size: 12px;
  font-weight: 400;
}

.tla-form-textarea {
  border-radius: 8px;
  border: 1px solid #dce2ea;
  background: #edf0f4;
  width: 100%;
  height: 141px;
  padding: 10px 16px 0;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  resize: vertical;
}

/* Auth Header */

.auth_header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #dce2ea;
}

.tla-auth-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 65px);
}

.tla-auth-wrapper {
  padding: 30px 0 50px;
}

.tla-auth-box {
  border-radius: 40px;
  border: 1px solid #dce2ea;
  opacity: 0.93;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
  padding: 20px;
}

.tla-auth-image img {
  border-radius: 20px;
}

.tla-auth-form-login {
  max-width: 544px;
  width: 100%;
  margin: 0 auto;
}

.tla-auth-form-register {
  padding: 30px 0 30px 50px;
}

.tla-auth-form h2 {
  color: var(--color-black);
  font-size: clamp(20px, 1.5vw, 28px);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.5px;
}

.tla-auth-form p {
  color: var(--color-text);
  font-size: clamp(12px, 0.8vw, 16px);
  font-weight: 400;
  line-height: 18px;
}

.tla-auth-form h3 {
  color: var(--color-black);
  text-align: center;
  font-size: clamp(16px, 1vw, 24px);
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.5px;
}

.tla-form-label {
  color: var(--color-black);
  font-size: clamp(14px, 0.8vw, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}

.popular-services h4 {
  color: var(--color-black);
  font-size: clamp(14px, 0.8vw, 18px);
  font-weight: 500;
  line-height: 27px;
}

.popular-services h5 {
  color: var(--color-text);
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 400;
  line-height: 18px;
}

.service-box {
  border: 2px solid transparent;
  cursor: pointer;
}

.selected {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.btn-auth-login {
  /* width: 100%; */
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--color-black);
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 600;
  line-height: 12px;
  cursor: pointer;
}

.tla-auth-footer {
  color: var(--color-text);
  font-size: clamp(12px, 0.8vw, 16px);
  font-weight: 400;
  line-height: 20px;
  margin-top: 50px;
}

.tla-auth-footer a {
  text-decoration: underline;
}

.btn-auth-register {
  background-color: var(--primary-color);
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 600;
  line-height: 12px;
  cursor: pointer;
}

.btn-outline {
  border-radius: 8px;
  border: 1px solid var(--color-black);
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 600;
  line-height: 12px;
}

.info-text {
  color: var(--color-black);
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 400;
  line-height: 27px;
}

.company-size label {
  color: var(--color-black);
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 10px;
  display: inline-block;
}

.company-size button {
  display: flex;
  padding: 4px 20px;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  text-align: center;
  font-size: clamp(13px, 0.8vw, 16px);
  font-weight: 500;
  line-height: 27px;
  border: 1px solid var(--color-black);
  border-radius: 41px;
}

.company-size .selected {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid transparent;
}

@media (max-width: 1199px) {
  .tla-auth-form-register {
    padding: 20px 0 20px 30px;
  }
}

@media (max-width: 1024px) {
  .tla-auth-form-register {
    padding: 20px 10px;
  }
}

@media (max-width: 575px) {
  .tla-auth-form-register {
    padding: 20px 0;
  }
}

/* Auth End */

.nav_link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-black);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.btn_register {
  background-color: var(--color-black);
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
}

/* HeroHome */

.hero-home {
  padding: 70px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-content h3 {
  border-radius: 82px;
  background: var(--secondary-color);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--brand-surface-1-text-on-light, #0b1c2d);
  text-align: center;
  font-family: Inter;
  font-size: clamp(13px, 0.9vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 886px;
  margin: 0 auto;
  gap: 20px;
}

.hero-content h1 {
  color: var(--color-text);
  text-align: center;
  font-size: clamp(32px, 3.5vw, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 72.6px */
  letter-spacing: -0.5px;
}

.tla-btn-search {
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--color-black);
  display: flex;
  padding: 8px 20px;
  width: 100%;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.suggestion-area h5 {
  color: #34495e;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}

/* Hero Showcase */

.hero-showcase {
  padding: 76px 0 0;
}

.showcase-img {
  border-radius: 14px;
}

.showcase-gradient-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 637px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 17.74%,
    #fff 85.19%
  );
}

/*===================================
 Home Services
 ====================================*/

.home-services {
  padding: 0 0 70px;
}

/*===============================
Home Features
=================================*/

.home-features-grid {
  padding: 80px;
  border-radius: 80px 80px 0px 0px;
  border: 1px solid #dce2ea;
  background: linear-gradient(180deg, #edf0f4 0%, rgba(255, 255, 255, 0) 100%);
}

.feature-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.feature-heading h3 {
  border-radius: 82px;
  background: var(--secondary-color);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  text-align: center;
  font-size: clamp(13px, 0.9vw, 16px);
  font-weight: 500;
  line-height: 27px;
}

.feature-heading h2 {
  color: #34495e;
  font-size: clamp(24px, 2vw, 36px);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.feature-heading .feature-heading-text {
  color: #34495e;
  font-size: clamp(12px, 0.9vw, 16px);
  font-weight: 400;
  line-height: 170%;
}

.feature-heading .feature-heading-text ul {
  margin-top: 20px;
  padding-left: 20px;
}

.feature-heading .feature-heading-text ul li {
  list-style-type: disc;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .home-features-grid {
    padding: 30px 0;
    border-radius: 40px 40px 0 0;
  }
}

/*===============================
Home Testimonials
=================================*/

.home-testimonials {
  padding: 150px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-testimonials .feature-heading h2 {
  color: #fff;
}

.home-testimonials .feature-heading-text {
  color: #fff;
}

@media (max-width: 1024px) {
  .home-testimonials {
    padding: 50px 0;
  }
}

/* ===========================
      Home CTA
==============================*/

.home-cta {
  padding: 100px 0;
}

.home-cta-content {
  border-radius: 26px;
  border: 1px solid var(--primary-color);
  background: #edf0f4;
  overflow: hidden;
}

.home-cta-text {
  padding: 50px 0 50px 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-cta-text h2 {
  color: var(--color-text);
  font-size: clamp(24px, 2vw, 36px);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.home-cta-text .cta-text {
  color: var(--color-text);
  font-size: clamp(12px, 0.9vw, 16px);
  font-weight: 400;
  line-height: 170%;
}

.home-cta-text .cta-text ul {
  padding-left: 20px;
  list-style: disc;
}

.home-cta-text .cta-text ul li {
  margin-bottom: 10px;
}

.home-cta-images {
  position: relative;
  padding-top: 80px;
  height: 100%;
}

.cta-shape {
  max-width: 400px;
  width: 100%;
  max-height: 372px;
  height: 100%;
  border-radius: 397.701px;
  background: linear-gradient(270deg, #ff8602 0%, #01c3c0 100%);
  filter: blur(140px);
}

.home-cta-images .cta-img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 24px 0 24px 0;
}

.home-cta-images .cta-img-1 {
  position: absolute;
  bottom: 0;
  right: 420px;
  z-index: 9;
}

@media (max-width: 1400px) {
  .home-cta-images {
    padding-top: 0;
  }

  .cta-shape {
    display: none;
  }
  .home-cta-images .cta-img-1 {
    display: none;
  }
  .home-cta-images .cta-img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .home-cta {
    padding: 50px 0;
  }
  .home-cta-text {
    padding: 30px 20px 30px 20px;
  }
}

/* ====================
      About Page
======================*/

.about-section {
  padding: 100px 0;
}

.about-showcase {
  padding: 50px 0 100px;
}

.about-features {
  padding: 50px 0 100px;
}
.feature-item {
  border-radius: 16px;
  border: 1px solid #dce2ea;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1024px) {
  .about-section {
    padding: 50px 0;
  }
  .about-showcase {
    padding: 30px 0;
  }
}

/* Faq section */

.tla-faq {
  padding: 50px 0 100px;
}

.tla-faq-accordion {
  max-width: 1004px;
  margin: 0 auto;
  margin-top: 20px;
}

.tla-faq-accordion-item:not(:last-child) {
  margin-bottom: 8px;
}

.tla-faq-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  border-radius: 12px;
  border: 1px solid var(--squad-deck-color-surface-light-normal-active, #ebeef2);
  background: var(--SquadDeck-Color-Surface_Light-Light, #fcfdfd);
  cursor: pointer;
}

.tla-faq-accordion-header h2 {
  color: #212121;
  font-size: clamp(14px, 0.9vw, 22px);
  font-weight: 600;
  line-height: 1.2;
}

.tla-faq-accordion-body {
  /* background: #fcfdfd; */
  padding: 16px 20px 8px;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.tla-faq-accordion-body.active {
  max-height: 1000px !important;
  display: block;
}

.tla-faq-accordion-header svg {
  transition: transform 0.3s ease;
}

.tla-faq-accordion-header svg.rotate {
  transform: rotate(45deg);
}
.tla-faq-accordion-header svg.rotate path {
  fill: red;
}

@media (max-width: 1024px) {
  .tla-faq {
    padding: 50px 0;
  }
}

/* ====================
      Working Steps
======================*/
.working-steps {
  padding: 50px 0 100px;
  border-radius: 80px 80px 0px 0px;
  /* border: 1px solid #dce2ea;
  border-bottom: none; */
  background: linear-gradient(180deg, #edf0f4 0%, rgba(255, 255, 255, 0) 100%);
  margin: 0 60px;
}

.working-step-item {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #dce2ea;
  background: #fff;
}

.working-step-number {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  background: var(--secondary-color);
  border-radius: 50%;
  margin-bottom: 15px;
}

.working-step-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.working-step-content h3 {
  color: #0b1c2d;
  text-align: justify;
  font-size: clam(14px, 0.9vw, 20px);
  font-weight: 600;
  line-height: 24px;
}
.working-steps-paragraph {
  color: #34495e;
  font-family: Inter;
  font-size: clamp(12px, 0.9vw, 16px);
  font-weight: 400;
  line-height: 170%;
}

@media (max-width: 1024px) {
  .working-steps {
    margin: 0;
    padding: 50px 0 30px;
  }
}

/* ====================
      Contact Page
======================*/

.contact-section {
  padding: 60px 0 100px;
}

.contact-image img {
  width: 100%;
  border-radius: 12px;
}

.contact-form-heading h2 {
  color: var(--color-black);
  font-size: clamp(18px, 1.5vw, 28px);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.5px;
  margin-bottom: 12px;
}

.contact-text {
  color: var(--color-text);
  font-size: clamp(13px, 0.9vw, 16px);
  font-weight: 400;
  line-height: 24px;
}

.contact-form-heading {
  margin-bottom: 28px;
}

.contact-info .address,
.contact-info a {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* ===================
      Footer
======================*/

.main-footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer-top {
  border: 1px solid #dce2ea;
  background: var(--Brand-Surface-3---Input-Field, #edf0f4);
  display: flex;
  width: 100%;
  padding: 15px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.footer-top p {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 114.286% */
}

.btn-pricing {
  border-radius: 4px;
  background: var(--brand-surface-2-text-on-dark, #fff);
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-middle {
  padding: 30px 0;
}

.footer-middle-widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-info {
  max-width: 450px;
}

.footer-text {
  color: var(--Brand-Secondary-Text, #34495e);
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}

/* .footer-widget {
  width: calc(20% - 10px);
} */

.footer-widget h3,
.footer-contact h3 {
  color: var(--brand-surface-1-text-on-light, #0b1c2d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  margin-bottom: 16px;
}

.footer-widget ul li:not(:last-child),
.footer-contact ul li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-widget ul li a,
.footer-contact ul li a {
  color: var(--Brand-Secondary-Text, #34495e);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.footer-contact {
  max-width: 327px;
}

.footer-bottom {
  padding: 10px 0;
  border-top: 1px solid var(--brand-surface-4-stroke, #dce2ea);
}

.footer-copyright p {
  color: var(--Brand-Secondary-Text, #34495e);
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}

@media (max-width: 991px) {
  .footer-info {
    max-width: 100%;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
