.red {
  color: red;
}

.main_header {
  background-color: #fff;
  padding: 10px 0;
}

.btn_register {
  background-color: #0b1c2d;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
}
